/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0px; font-family: Roboto, "Helvetica Neue", sans-serif; }
a{
    padding: 10px;
  
}
.carousel-caption {
    background: rgb(0 0 0 / 62%);
    border-radius: 5px;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: #000;
    border-radius: 5px;
}